/* [project]/Coding_Projects/New Projects/Vithusan_Portfolio/node_modules/@once-ui-system/core/dist/components/DatePicker.module.scss.module.css [app-client] (css) */
.DatePicker-module-scss-module__DV5Vrq__calendar.DatePicker-module-scss-module__DV5Vrq__xs {
  --calendar-padding: var(--static-space-8);
  --calendar-gap: var(--static-space-4);
  --calendar-button-size: var(--static-space-24);
  --calendar-font-size: var(--font-size-xs);
}

.DatePicker-module-scss-module__DV5Vrq__calendar.DatePicker-module-scss-module__DV5Vrq__s {
  --calendar-padding: var(--static-space-12);
  --calendar-gap: var(--static-space-8);
  --calendar-button-size: var(--static-space-28);
  --calendar-font-size: var(--font-size-s);
}

.DatePicker-module-scss-module__DV5Vrq__calendar.DatePicker-module-scss-module__DV5Vrq__m {
  --calendar-padding: var(--static-space-16);
  --calendar-gap: var(--static-space-12);
  --calendar-button-size: var(--static-space-32);
  --calendar-font-size: var(--font-size-m);
}

.DatePicker-module-scss-module__DV5Vrq__calendar.DatePicker-module-scss-module__DV5Vrq__l {
  --calendar-padding: var(--static-space-20);
  --calendar-gap: var(--static-space-16);
  --calendar-button-size: var(--static-space-36);
  --calendar-font-size: var(--font-size-l);
}

.DatePicker-module-scss-module__DV5Vrq__calendar.DatePicker-module-scss-module__DV5Vrq__xl {
  --calendar-padding: var(--static-space-24);
  --calendar-gap: var(--static-space-20);
  --calendar-button-size: var(--static-space-40);
  --calendar-font-size: var(--font-size-xl);
}

.DatePicker-module-scss-module__DV5Vrq__monthButton:hover {
  background: var(--neutral-background-medium);
  transform: scale(1.1);
}

.DatePicker-module-scss-module__DV5Vrq__monthButton:disabled {
  opacity: .5;
  cursor: not-allowed;
  transform: none;
}

.DatePicker-module-scss-module__DV5Vrq__dayButton {
  aspect-ratio: 1;
  width: var(--calendar-button-size);
  height: var(--calendar-button-size);
  font-size: var(--calendar-font-size);
  border-radius: var(--radius-m);
  border: .5px solid var(--neutral-background-medium);
  color: var(--neutral-on-background-weak);
  background-color: #0000;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: all .2s ease-in-out;
  display: flex;
}

.DatePicker-module-scss-module__DV5Vrq__dayButton:hover {
  color: var(--neutral-background-weak);
  background: var(--neutral-background-strong);
  transform: scale(1.1);
}

.DatePicker-module-scss-module__DV5Vrq__dayButton:active {
  background-color: var(--brand-background-strong);
  color: #fff;
  transform: scale(.95);
}

.DatePicker-module-scss-module__DV5Vrq__dayButton:disabled {
  opacity: .5;
  cursor: not-allowed;
  transform: none;
}

.DatePicker-module-scss-module__DV5Vrq__timeSelector {
  background: var(--neutral-background-medium);
  border-radius: var(--radius-m);
  border: 1px solid var(--neutral-background-medium);
  padding: var(--calendar-padding);
  font-size: var(--calendar-font-size);
}

.DatePicker-module-scss-module__DV5Vrq__timeSelector:focus-within {
  border: 1px solid var(--neutral-border-strong);
}

.DatePicker-module-scss-module__DV5Vrq__timeInput {
  width: var(--static-space-40);
  height: var(--static-space-32);
  border: 1px solid var(--neutral-border-medium);
  border-radius: var(--radius-m);
  background: var(--neutral-background-strong);
  color: var(--neutral-on-background-strong);
  text-align: center;
  font-size: var(--calendar-font-size);
  outline: none;
  transition: all .2s ease-in-out;
}

.DatePicker-module-scss-module__DV5Vrq__timeInput:focus {
  border-color: var(--brand-border-medium);
  box-shadow: 0 0 0 2px var(--brand-alpha-weak);
}

.DatePicker-module-scss-module__DV5Vrq__timeInput:invalid {
  border-color: var(--danger-border-medium);
}

.DatePicker-module-scss-module__DV5Vrq__timeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.DatePicker-module-scss-module__DV5Vrq__timeInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.DatePicker-module-scss-module__DV5Vrq__ampmSelector button {
  min-width: var(--static-space-40);
}

.DatePicker-module-scss-module__DV5Vrq__monthTransition {
  transition: transform .3s ease-in-out, opacity .3s ease-in-out;
}

.DatePicker-module-scss-module__DV5Vrq__slideLeft {
  opacity: 0;
  transform: translateX(-20px);
}

.DatePicker-module-scss-module__DV5Vrq__slideRight {
  opacity: 0;
  transform: translateX(20px);
}

.DatePicker-module-scss-module__DV5Vrq__timeWrapper.DatePicker-module-scss-module__DV5Vrq__vertical {
  align-items: flex-start;
}

.DatePicker-module-scss-module__DV5Vrq__verticalTimeLabel {
  writing-mode: vertical-lr;
  margin-right: var(--static-space-8);
  transform: rotate(180deg);
}

.DatePicker-module-scss-module__DV5Vrq__timeSelector.DatePicker-module-scss-module__DV5Vrq__vertical {
  flex-direction: column;
  align-items: flex-start;
}

.DatePicker-module-scss-module__DV5Vrq__ampmSelector {
  min-width: var(--static-space-80);
  height: var(--static-space-32);
  font-size: var(--calendar-font-size);
}

.DatePicker-module-scss-module__DV5Vrq__ampmSelector.DatePicker-module-scss-module__DV5Vrq__vertical {
  min-width: var(--static-space-32);
  height: auto;
}

.DatePicker-module-scss-module__DV5Vrq__ampmSelector.DatePicker-module-scss-module__DV5Vrq__vertical button {
  min-width: var(--static-space-32);
  height: var(--static-space-40);
}

.DatePicker-module-scss-module__DV5Vrq__grid {
  display: grid;
}

.DatePicker-module-scss-module__DV5Vrq__grid > div {
  overflow: hidden;
}

/*# sourceMappingURL=f6652_%40once-ui-system_core_dist_components_DatePicker_module_scss_module_css_bad6b30c._.single.css.map*/